<head>
    <link rel="stylesheet" href="/frontend/public/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Nightly Journal | <%= title %></title>
    <body>
        <h1><a href="/">The Nightly Journal</a></h1>
    </body>
</head>